@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;800&family=Nova+Square&family=Roboto:ital@1&family=Ubuntu:wght@300;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: white;
}

#title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
  height: 100vh;
  overflow: hidden;
}

/* Nav Bar */
.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section */
#features h3 {
  font-weight: 800;
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

p {
  color: #afafaf;
}

.feature-icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

#testimonials h2 {
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.6;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#long-text {
  font-size: 1rem;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
